/* -------------------------------------------Navbar--------------------------------------------------- */
.navbar-expand-lg .navbar-nav .nav-link {
  color: white
}

.navbar .bg-dark {
  background-color: black !important;
}

nav .nav-link.active {
  color: rgb(66, 138, 84) !important;
}

/* ----------------------------------------------------------------------------------------------------- */



/* -------------------------------------------Home----------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------- */


/* -------------------------------------------Forms----------------------------------------------------- */
.form-background {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.form-control {
  border-color: rgb(199, 192, 192) !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  color: white !important
}

.form-control:focus {
  box-shadow: none !important;
  background-color: transparent !important;
  color: white !important
}

.form-floating>label {
  color: white !important;
  font-weight: 100 !important;
  font-size: 15px;
}

.btn-primary {
 background-color:   rgb(66, 138, 84) !important;
 border-color:    rgb(66, 138, 84) !important;
}

/* ----------------------------------------------------------------------------------------------------- */